# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
for column in data.columns:
    print(f"{column}: {data[column].isnull().sum()}")

Name: 0
Job Titles: 0
Department: 0
Full or Part-Time: 0
Salary or Hourly: 0
Typical Hours: 25161
Annual Salary: 8022
Hourly Rate: 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
employee_type_counts = data['Salary or Hourly'].value_counts()

print(employee_type_counts)

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
department_counts = data['Department'].value_counts()

print(department_counts)

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy import stats

hourly_rates = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

null_hypothesis_mean = 30

# One-sample t-test
t_statistic, p_value = stats.ttest_1samp(hourly_rates, null_hypothesis_mean)

print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest a significant difference.")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
police_salaries = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

null_hypothesis_mean = 86000

# One-sample t-test
t_statistic, p_value = stats.ttest_1samp(police_salaries, null_hypothesis_mean)

print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

alpha = 0.05
if p_value < alpha and t_statistic > 0:
    print("Reject the null hypothesis: Police salaries are higher than $86,000/year.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest that police salaries are higher than $86,000/year.")

T-statistic: 3.081997005712994
P-value: 0.0020603403550965137
Reject the null hypothesis: Police salaries are higher than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
cross_tab = pd.crosstab(data['Department'], data['Salary or Hourly'])

hourly_counts = cross_tab['Hourly'].sort_values(ascending=False)

most_hourly_department = hourly_counts.idxmax()
print(f"The department with the most hourly workers is: {most_hourly_department}")

The department with the most hourly workers is: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
hourly_rates_most_hourly_department = data[(data['Department'] == most_hourly_department) & (data['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()

null_hypothesis_mean = 35

# One-sample t-test
t_statistic, p_value = stats.ttest_1samp(hourly_rates_most_hourly_department, null_hypothesis_mean)

print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

alpha = 0.05
if p_value < alpha and t_statistic < 0:
    print("Reject the null hypothesis: Hourly wage is less than $35/hour.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest that hourly wage is less than $35/hour.")

T-statistic: -9.567447887848152
P-value: 3.3378530564707717e-21
Reject the null hypothesis: Hourly wage is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
hourly_rates_all = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

mean_hourly_rate = hourly_rates_all.mean()
std_error = stats.sem(hourly_rates_all, ddof=1)

confidence_level = 0.95
degrees_of_freedom = len(hourly_rates_all) - 1

confidence_interval = stats.t.interval(confidence_level, degrees_of_freedom, loc=mean_hourly_rate, scale=std_error)

print(f"Mean Hourly Rate: ${mean_hourly_rate:.2f}")
print(f"95% Confidence Interval: (${confidence_interval[0]:.2f}, ${confidence_interval[1]:.2f})")

Mean Hourly Rate: $32.79
95% Confidence Interval: ($32.52, $33.05)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
annual_salaries_police = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

mean_annual_salary_police = annual_salaries_police.mean()
std_error_police = stats.sem(annual_salaries_police, ddof=1)  

confidence_level_police = 0.95
degrees_of_freedom_police = len(annual_salaries_police) - 1

confidence_interval_police = stats.t.interval(confidence_level_police, degrees_of_freedom_police, loc=mean_annual_salary_police, scale=std_error_police)

print(f"Mean Annual Salary (Police): ${mean_annual_salary_police:.2f}")
print(f"95% Confidence Interval: (${confidence_interval_police[0]:.2f}, ${confidence_interval_police[1]:.2f})")

Mean Annual Salary (Police): $86486.41
95% Confidence Interval: ($86177.06, $86795.77)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: